In [2]:
import pandas as pd
import os

path = "dataverse_files/pop1/"

# List of file names without .csv extension
file_names = [
    'allergies', 'careplans', 'conditions', 'devices', 'encounters',
    'immunizations', 'medications', 'observations', 'organizations',
    'patients', 'payers', 'procedures', 'providers'
]

# Create a dictionary to store all dataframes
dfs = {}

# Import each CSV file
for file in file_names:
    df_name = f"{file}_df"
    file_path = os.path.join(path, f"{file}.csv")
    dfs[df_name] = pd.read_csv(file_path)

# Create individual dataframe variables
for df_name, df in dfs.items():
    globals()[df_name] = df

In [3]:
df_names = [
    'allergies_df', 'careplans_df', 'conditions_df', 'devices_df', 
    'encounters_df', 'immunizations_df', 'medications_df', 'observations_df', 
    'organizations_df', 'patients_df', 'payers_df', 'procedures_df', 'providers_df'
]

# Display top 5 rows of each dataframe with a clear header
for df_name in df_names:
    print(f"\n{'='*50}")
    print(f"Number of rows in {df_name}: {len(globals()[df_name])}")
    print(f"Top 5 rows of {df_name}:")
    print(f"{'='*50}")
    try:
        display(globals()[df_name].head())
    except:
        print(f"Error: {df_name} not found or empty")

==================================================
Number of rows in allergies_df: 5539
Top 5 rows of allergies_df:
==================================================

,START,STOP,PATIENT,ENCOUNTER,CODE,SYSTEM,DESCRIPTION,TYPE,CATEGORY,REACTION1,DESCRIPTION1,SEVERITY1,REACTION2,DESCRIPTION2,SEVERITY2
0,1959-04-24,NaN,0a859c31-a1e5-03ee-7e60-c3661644185f,33e2f21b-4a09-5714-a906-aeb9bfc454b3,84489001,Unknown,Mold (organism),allergy,environment,NaN,NaN,NaN,NaN,NaN,NaN
1,1959-04-24,NaN,0a859c31-a1e5-03ee-7e60-c3661644185f,33e2f21b-4a09-5714-a906-aeb9bfc454b3,260147004,Unknown,House dust mite (organism),allergy,environment,NaN,NaN,NaN,NaN,NaN,NaN
2,1959-04-24,NaN,0a859c31-a1e5-03ee-7e60-c3661644185f,33e2f21b-4a09-5714-a906-aeb9bfc454b3,264287008,Unknown,Animal dander (substance),allergy,environment,271807003.0,Eruption of skin (disorder),MILD,NaN,NaN,NaN
3,1959-04-24,NaN,0a859c31-a1e5-03ee-7e60-c3661644185f,33e2f21b-4a09-5714-a906-aeb9bfc454b3,782576004,Unknown,Tree pollen (substance),allergy,environment,NaN,NaN,NaN,NaN,NaN,NaN
4,1959-04-24,NaN,0a859c31-a1e5-03ee-7e60-c3661644185f,33e2f21b-4a09-5714-a906-aeb9bfc454b3,102263004,Unknown,Eggs (edible) (substance),allergy,food,247472004.0,Wheal (finding),MODERATE,NaN,NaN,NaN

==================================================
Number of rows in careplans_df: 64157
Top 5 rows of careplans_df:
==================================================

,Id,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION,REASONCODE,REASONDESCRIPTION
0,6d13e51f-f5ec-e53f-46b8-7128c059e7e4,1991-04-20,NaN,5605b66b-e92d-c16c-1b83-b8bf7040d51f,8ac8a7d4-f24d-20a8-dfa1-812a94f726e6,718361005,Weight management program,NaN,NaN
1,6f574324-f9b6-a0da-ca5e-870039fc7096,1994-02-03,NaN,c06a2ab3-c3b1-a3d0-7c12-262a12c6885e,4d42ecf9-ef0a-2c87-82e5-b89c188c66a9,408869004,Musculoskeletal care,201834006.0,Localized primary osteoarthritis of the hand
2,d29f0214-dcab-5ad0-9504-3a006bc0e831,1995-05-13,NaN,5605b66b-e92d-c16c-1b83-b8bf7040d51f,63023e17-bb98-6d93-5296-e1fceb93cbe9,443402002,Lifestyle education regarding hypertension,59621000.0,Hypertension
3,06b4eaf4-15aa-c9ac-20f3-3d00712a8edc,2014-12-27,2015-01-06,5605b66b-e92d-c16c-1b83-b8bf7040d51f,8181316f-5fcd-693c-e020-3ba970427f9a,53950000,Respiratory therapy,NaN,NaN
4,8c3787b8-a3ee-0b88-8310-876936075bc5,2016-07-31,2016-09-10,5605b66b-e92d-c16c-1b83-b8bf7040d51f,42afa107-c831-a412-c60e-3540134434f7,53950000,Respiratory therapy,NaN,NaN

==================================================
Number of rows in conditions_df: 866514
Top 5 rows of conditions_df:
==================================================

,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION
0,1988-04-02,NaN,5605b66b-e92d-c16c-1b83-b8bf7040d51f,be3e07a4-00ea-4e1f-6e5c-32620712d7e1,162864005,Body mass index 30+ - obesity (finding)
1,1954-08-27,NaN,c06a2ab3-c3b1-a3d0-7c12-262a12c6885e,3e2dd16e-a2f0-6467-1950-84ef2e834c73,224295006,Only received primary school education (finding)
2,1954-08-27,1955-09-02,c06a2ab3-c3b1-a3d0-7c12-262a12c6885e,3e2dd16e-a2f0-6467-1950-84ef2e834c73,160903007,Full-time employment (finding)
3,1954-08-27,1958-09-05,c06a2ab3-c3b1-a3d0-7c12-262a12c6885e,3e2dd16e-a2f0-6467-1950-84ef2e834c73,422650009,Social isolation (finding)
4,1955-09-02,1958-09-05,c06a2ab3-c3b1-a3d0-7c12-262a12c6885e,2f572a12-0189-7eba-f11c-d308deb08435,160903007,Full-time employment (finding)

==================================================
Number of rows in devices_df: 16222
Top 5 rows of devices_df:
==================================================

,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION,UDI
0,1986-01-20T19:56:11Z,NaN,94d39619-8e17-d248-41b3-9ec1f2d031b2,eeadea5e-c03f-a7ae-e0a5-6f53597c1b75,170615005,Home nebulizer (physical object),(01)53466052043425(11)861230(17)110114(10)8308...
1,2008-05-26T19:56:11Z,NaN,94d39619-8e17-d248-41b3-9ec1f2d031b2,41f463c2-18b4-5d55-d14a-e81a9098587a,337414009,Blood glucose meter (physical object),(01)84944861557801(11)080505(17)330520(10)7665...
2,1961-12-02T17:45:50Z,NaN,6ba3aa40-7557-835d-5751-f40ad4edf832,498de81d-92c6-d821-f924-b4e0d6b31e9a,337414009,Blood glucose meter (physical object),(01)14000984999826(11)611111(17)861126(10)5113...
3,1983-08-11T00:36:03Z,NaN,d536c0da-c3c8-edca-ebc5-24ee565621a2,d3535308-ea65-9b2a-6ef3-4f72019b3e29,337414009,Blood glucose meter (physical object),(01)87379442769627(11)830720(17)080803(10)3475...
4,1996-10-06T00:45:50Z,1997-02-09T00:45:50Z,6ba3aa40-7557-835d-5751-f40ad4edf832,846eb958-7ef7-767f-1b19-7dd2bed5b69e,170615005,Home nebulizer (physical object),(01)14032310827578(11)960914(17)210929(10)5962...

==================================================
Number of rows in encounters_df: 1371435
Top 5 rows of encounters_df:
==================================================

,Id,START,STOP,PATIENT,ORGANIZATION,PROVIDER,PAYER,ENCOUNTERCLASS,CODE,DESCRIPTION,BASE_ENCOUNTER_COST,TOTAL_CLAIM_COST,PAYER_COVERAGE,REASONCODE,REASONDESCRIPTION
0,be3e07a4-00ea-4e1f-6e5c-32620712d7e1,1988-04-02T22:07:23Z,1988-04-02T22:22:23Z,5605b66b-e92d-c16c-1b83-b8bf7040d51f,0aef5bb7-af50-38c6-934a-8f5a25d81fd1,1f1d9cdf-e594-3527-8f86-6ac68b0a5d30,42c4fca7-f8a9-3cd1-982a-dd9751bf3e2a,wellness,410620009,Well child visit (procedure),136.8,347.38,0.0,NaN,NaN
1,8ac8a7d4-f24d-20a8-dfa1-812a94f726e6,1991-04-20T22:07:23Z,1991-04-20T22:22:23Z,5605b66b-e92d-c16c-1b83-b8bf7040d51f,0aef5bb7-af50-38c6-934a-8f5a25d81fd1,1f1d9cdf-e594-3527-8f86-6ac68b0a5d30,d47b3510-2895-3b70-9897-342d681c769d,wellness,410620009,Well child visit (procedure),136.8,1157.88,0.0,NaN,NaN
2,3e2dd16e-a2f0-6467-1950-84ef2e834c73,1954-08-28T05:14:39Z,1954-08-28T05:29:39Z,c06a2ab3-c3b1-a3d0-7c12-262a12c6885e,5e91d1b8-0e6e-32d4-93df-449c6c624492,7f9f32d1-4426-3277-9fbd-8ae3855df313,047f6ec3-6215-35eb-9608-f9dda363a44c,wellness,162673000,General examination of patient (procedure),136.8,704.20,0.0,NaN,NaN
3,2f572a12-0189-7eba-f11c-d308deb08435,1955-09-03T05:14:39Z,1955-09-03T05:29:39Z,c06a2ab3-c3b1-a3d0-7c12-262a12c6885e,5e91d1b8-0e6e-32d4-93df-449c6c624492,7f9f32d1-4426-3277-9fbd-8ae3855df313,047f6ec3-6215-35eb-9608-f9dda363a44c,wellness,162673000,General examination of patient (procedure),136.8,1266.54,0.0,NaN,NaN
4,c71f66d6-d085-b323-e1b7-8963e510d4db,1958-09-06T05:14:39Z,1958-09-06T05:29:39Z,c06a2ab3-c3b1-a3d0-7c12-262a12c6885e,5e91d1b8-0e6e-32d4-93df-449c6c624492,7f9f32d1-4426-3277-9fbd-8ae3855df313,d47b3510-2895-3b70-9897-342d681c769d,wellness,162673000,General examination of patient (procedure),136.8,1491.93,0.0,NaN,NaN

==================================================
Number of rows in immunizations_df: 181648
Top 5 rows of immunizations_df:
==================================================

,DATE,PATIENT,ENCOUNTER,CODE,DESCRIPTION,BASE_COST
0,2012-08-18T22:07:23Z,5605b66b-e92d-c16c-1b83-b8bf7040d51f,e5e22010-0649-229f-013a-44b804bffb11,140,Influenza seasonal injectable preservative ...,136.0
1,2013-08-24T22:07:23Z,5605b66b-e92d-c16c-1b83-b8bf7040d51f,9086e6bd-03a4-1783-6a66-d96d0fb23818,140,Influenza seasonal injectable preservative ...,136.0
2,2014-08-30T22:07:23Z,5605b66b-e92d-c16c-1b83-b8bf7040d51f,5a741bc7-7b91-aa67-eb30-6da1d4e25615,140,Influenza seasonal injectable preservative ...,136.0
3,2015-01-03T22:07:23Z,5605b66b-e92d-c16c-1b83-b8bf7040d51f,97aa7023-7871-a2d2-d798-e9da14eff123,140,Influenza seasonal injectable preservative ...,136.0
4,2012-12-01T05:14:39Z,c06a2ab3-c3b1-a3d0-7c12-262a12c6885e,93001935-6565-e85b-8338-ae35fe668b74,140,Influenza seasonal injectable preservative ...,136.0

==================================================
Number of rows in medications_df: 1589918
Top 5 rows of medications_df:
==================================================

,START,STOP,PATIENT,PAYER,ENCOUNTER,CODE,DESCRIPTION,BASE_COST,PAYER_COVERAGE,DISPENSES,TOTALCOST,REASONCODE,REASONDESCRIPTION
0,1995-05-13T22:07:23Z,1996-05-18T22:07:23Z,5605b66b-e92d-c16c-1b83-b8bf7040d51f,6e2f1a2d-27bd-3701-8d08-dae202c58632,63023e17-bb98-6d93-5296-e1fceb93cbe9,310798,Hydrochlorothiazide 25 MG Oral Tablet,0.00,0.0,12,0.00,59621000.0,Hypertension
1,1995-05-13T22:07:23Z,1996-05-18T22:07:23Z,5605b66b-e92d-c16c-1b83-b8bf7040d51f,6e2f1a2d-27bd-3701-8d08-dae202c58632,63023e17-bb98-6d93-5296-e1fceb93cbe9,314076,lisinopril 10 MG Oral Tablet,0.01,0.0,371,3.71,59621000.0,Hypertension
2,1996-05-18T22:07:23Z,1997-05-24T22:07:23Z,5605b66b-e92d-c16c-1b83-b8bf7040d51f,047f6ec3-6215-35eb-9608-f9dda363a44c,9f1a2446-6109-ca43-b3cd-d5f22ba5b433,310798,Hydrochlorothiazide 25 MG Oral Tablet,0.00,0.0,12,0.00,59621000.0,Hypertension
3,1996-05-18T22:07:23Z,1997-05-24T22:07:23Z,5605b66b-e92d-c16c-1b83-b8bf7040d51f,047f6ec3-6215-35eb-9608-f9dda363a44c,9f1a2446-6109-ca43-b3cd-d5f22ba5b433,314076,lisinopril 10 MG Oral Tablet,0.01,0.0,371,3.71,59621000.0,Hypertension
4,1997-05-24T22:07:23Z,1998-05-30T22:07:23Z,5605b66b-e92d-c16c-1b83-b8bf7040d51f,42c4fca7-f8a9-3cd1-982a-dd9751bf3e2a,c51977a5-225e-a87b-08ec-3280e7c9acca,310798,Hydrochlorothiazide 25 MG Oral Tablet,0.00,0.0,12,0.00,59621000.0,Hypertension

==================================================
Number of rows in observations_df: 11161255
Top 5 rows of observations_df:
==================================================

,DATE,PATIENT,ENCOUNTER,CATEGORY,CODE,DESCRIPTION,VALUE,UNITS,TYPE
0,2012-08-18T22:07:23Z,5605b66b-e92d-c16c-1b83-b8bf7040d51f,e5e22010-0649-229f-013a-44b804bffb11,vital-signs,8302-2,Body Height,174.0,cm,numeric
1,2012-08-18T22:07:23Z,5605b66b-e92d-c16c-1b83-b8bf7040d51f,e5e22010-0649-229f-013a-44b804bffb11,vital-signs,72514-3,Pain severity - 0-10 verbal numeric rating [Sc...,2.0,{score},numeric
2,2012-08-18T22:07:23Z,5605b66b-e92d-c16c-1b83-b8bf7040d51f,e5e22010-0649-229f-013a-44b804bffb11,vital-signs,29463-7,Body Weight,98.6,kg,numeric
3,2012-08-18T22:07:23Z,5605b66b-e92d-c16c-1b83-b8bf7040d51f,e5e22010-0649-229f-013a-44b804bffb11,vital-signs,39156-5,Body Mass Index,32.6,kg/m2,numeric
4,2012-08-18T22:07:23Z,5605b66b-e92d-c16c-1b83-b8bf7040d51f,e5e22010-0649-229f-013a-44b804bffb11,vital-signs,8462-4,Diastolic Blood Pressure,100.0,mm[Hg],numeric

==================================================
Number of rows in organizations_df: 6765
Top 5 rows of organizations_df:
==================================================

,Id,NAME,ADDRESS,CITY,STATE,ZIP,LAT,LON,PHONE,REVENUE,UTILIZATION
0,ef58ea08-d883-3957-8300-150554edc8fb,HEALTHALLIANCE HOSPITALS INC,60 HOSPITAL ROAD,LEOMINSTER,MA,01453,42.520838,-71.770876,9784662000,0.0,31512
1,69176529-fd1f-3b3f-abce-a0a3626769eb,MOUNT AUBURN HOSPITAL,330 MOUNT AUBURN STREET,CAMBRIDGE,MA,02138,42.375967,-71.118275,6174923500,0.0,52884
2,5e765f2b-e908-3888-9fc7-df2cb87beb58,STURDY MEMORIAL HOSPITAL,211 PARK STREET,ATTLEBORO,MA,02703,41.931653,-71.294503,5082225200,0.0,35281
3,f1fbcbfb-fcfa-3bd2-b7f4-df20f1b3c3a4,LAWRENCE GENERAL HOSPITAL,ONE GENERAL STREET,LAWRENCE,MA,01842,42.700273,-71.161357,9786834000,0.0,39968
4,e002090d-4e92-300e-b41e-7d1f21dee4c6,CAMBRIDGE HEALTH ALLIANCE,1493 CAMBRIDGE STREET,CAMBRIDGE,MA,02138,42.375967,-71.118275,6176652300,0.0,51313

==================================================
Number of rows in patients_df: 15354
Top 5 rows of patients_df:
==================================================

,Id,BIRTHDATE,DEATHDATE,SSN,DRIVERS,PASSPORT,PREFIX,FIRST,LAST,SUFFIX,...,BIRTHPLACE,ADDRESS,CITY,STATE,COUNTY,ZIP,LAT,LON,HEALTHCARE_EXPENSES,HEALTHCARE_COVERAGE
0,5605b66b-e92d-c16c-1b83-b8bf7040d51f,1977-03-19,NaN,999-94-9633,S99930485,X51431379X,Mrs.,Nikita578,Erdman779,NaN,...,Wakefield Massachusetts US,510 Little Station Unit 69,Quincy,Massachusetts,Norfolk County,2186.0,42.290937,-70.975503,1.382106e+06,390849.2625
1,c06a2ab3-c3b1-a3d0-7c12-262a12c6885e,1936-07-03,NaN,999-76-5032,S99927160,X37795263X,Mr.,Miguel Ángel46,Atencio773,NaN,...,San Jose San Jose CR,1022 Hermann Quay Suite 79,Springfield,Massachusetts,Hampden County,1118.0,42.119725,-72.529805,2.118565e+06,108146.8010
2,6e5ae27c-8038-7988-e2c0-25a103f01bfa,1940-02-19,NaN,999-83-7940,S99932661,X36822066X,Mr.,Zane918,Hodkiewicz467,NaN,...,Brookline Massachusetts US,747 Conn Throughway,Boston,Massachusetts,Suffolk County,2135.0,42.308831,-71.063162,2.007909e+06,333884.4150
3,94d39619-8e17-d248-41b3-9ec1f2d031b2,1954-11-08,2010-01-10,999-84-3708,S99923522,X49705907X,Mr.,Emmett200,Collins926,NaN,...,Baldwinville Massachusetts US,675 Ortiz Mission Unit 59,Hingham,Massachusetts,Plymouth County,2043.0,42.257452,-70.848673,2.637311e+06,149574.3525
4,23832f5d-e045-2541-1626-a65dce9bbcf7,1972-04-13,NaN,999-89-5858,S99939931,X88479701X,Mrs.,Magan944,Green467,NaN,...,Worcester Massachusetts US,427 Jakubowski Viaduct Unit 76,Edgartown,Massachusetts,Dukes County,NaN,41.364910,-70.519177,1.859584e+06,69524.1780

==================================================
Number of rows in payers_df: 10
Top 5 rows of payers_df:
==================================================

,Id,NAME,ADDRESS,CITY,STATE_HEADQUARTERED,ZIP,PHONE,AMOUNT_COVERED,AMOUNT_UNCOVERED,REVENUE,...,UNCOVERED_ENCOUNTERS,COVERED_MEDICATIONS,UNCOVERED_MEDICATIONS,COVERED_PROCEDURES,UNCOVERED_PROCEDURES,COVERED_IMMUNIZATIONS,UNCOVERED_IMMUNIZATIONS,UNIQUE_CUSTOMERS,QOLS_AVG,MEMBER_MONTHS
0,b3221cfc-24fb-339e-823d-bc4136cbc4ed,Dual Eligible,7500 Security Blvd,Baltimore,MD,21244.0,1-877-267-2323,1.076597e+08,1.462200e+07,5.362150e+07,...,0,55364,0,75940,0,10840,0,787,0.611778,117948
1,7caa7254-5050-3b5e-9eae-bd5ea30e809c,Medicare,7500 Security Blvd,Baltimore,MD,21244.0,1-800-633-4227,1.552526e+09,1.498270e+08,3.318692e+08,...,0,1101186,0,1071965,0,134671,0,7109,0.768363,1352832
2,7c4411ce-02f1-39b5-b9ec-dfbea9ad3c1a,Medicaid,7500 Security Blvd,Baltimore,MD,21244.0,1-877-267-2323,2.191828e+09,1.464090e+08,2.711798e+08,...,0,190876,0,845407,0,74343,0,6750,0.822387,1114332
3,d47b3510-2895-3b70-9897-342d681c769d,Humana,500 West Main St,Louisville,KY,40018.0,1-844-330-7799,4.951006e+07,7.966630e+08,2.750580e+09,...,38328,0,269182,0,482684,0,101312,13238,0.773158,1624380
4,6e2f1a2d-27bd-3701-8d08-dae202c58632,Blue Cross Blue Shield,Michigan Plaza,Chicago,IL,60007.0,1-800-262-2583,6.251313e+08,3.050992e+08,2.816275e+09,...,0,264822,0,492749,0,97929,0,13154,0.796437,1555476

==================================================
Number of rows in procedures_df: 2425255
Top 5 rows of procedures_df:
==================================================

,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION,BASE_COST,REASONCODE,REASONDESCRIPTION
0,2012-11-21T08:36:35Z,2012-11-21T09:09:12Z,c06a2ab3-c3b1-a3d0-7c12-262a12c6885e,cb739cd1-4540-e729-2ef1-fc09075f521c,73761001,Colonoscopy,6133.93,NaN,NaN
1,2012-08-18T22:07:23Z,2012-08-18T22:45:32Z,5605b66b-e92d-c16c-1b83-b8bf7040d51f,e5e22010-0649-229f-013a-44b804bffb11,710824005,Assessment of health and social care needs (pr...,431.40,NaN,NaN
2,2012-08-18T22:07:23Z,2012-08-18T22:22:23Z,5605b66b-e92d-c16c-1b83-b8bf7040d51f,e5e22010-0649-229f-013a-44b804bffb11,430193006,Medication Reconciliation (procedure),436.43,NaN,NaN
3,2012-08-18T22:45:32Z,2012-08-18T23:26:17Z,5605b66b-e92d-c16c-1b83-b8bf7040d51f,e5e22010-0649-229f-013a-44b804bffb11,866148006,Screening for domestic abuse (procedure),431.40,NaN,NaN
4,2012-08-18T23:26:17Z,2012-08-18T23:38:08Z,5605b66b-e92d-c16c-1b83-b8bf7040d51f,e5e22010-0649-229f-013a-44b804bffb11,171207006,Depression screening (procedure),431.40,NaN,NaN

==================================================
Number of rows in providers_df: 37881
Top 5 rows of providers_df:
==================================================

,Id,ORGANIZATION,NAME,GENDER,SPECIALITY,ADDRESS,CITY,STATE,ZIP,LAT,LON,UTILIZATION
0,caeb26d2-e4e8-3910-8337-b23e745b29a1,ef58ea08-d883-3957-8300-150554edc8fb,Ana María762 Soto31,F,GENERAL PRACTICE,60 HOSPITAL ROAD,LEOMINSTER,MA,01453,42.520838,-71.770876,31512
1,fa5d1d14-f5e1-398d-a302-49adfc1fb422,69176529-fd1f-3b3f-abce-a0a3626769eb,Lesley194 Fisher429,M,GENERAL PRACTICE,330 MOUNT AUBURN STREET,CAMBRIDGE,MA,02138,42.375967,-71.118275,52884
2,b2918679-8cec-36ef-9da1-f67be569b4c7,5e765f2b-e908-3888-9fc7-df2cb87beb58,Chauncey770 Steuber698,M,GENERAL PRACTICE,211 PARK STREET,ATTLEBORO,MA,02703,41.931653,-71.294503,35281
3,d548754c-c2a3-3a74-9132-4f0575373e67,f1fbcbfb-fcfa-3bd2-b7f4-df20f1b3c3a4,Whitney250 Wyman904,M,GENERAL PRACTICE,ONE GENERAL STREET,LAWRENCE,MA,01842,42.700273,-71.161357,39968
4,210c7384-7168-3ff8-a9c3-6a0e22007222,e002090d-4e92-300e-b41e-7d1f21dee4c6,Wilfredo622 Medhurst46,M,GENERAL PRACTICE,1493 CAMBRIDGE STREET,CAMBRIDGE,MA,02138,42.375967,-71.118275,51313

In [4]:
# print every unique condition in conditions_df
unique_conditions = pd.DataFrame(conditions_df['DESCRIPTION'].unique(), columns=['Conditions'])
display(unique_conditions)

# output to a unique_conditions.csv
unique_conditions.to_csv('unique_conditions.csv', index=False)

                                           Conditions
0             Body mass index 30+ - obesity (finding)
1    Only received primary school education (finding)
2                      Full-time employment (finding)
3                          Social isolation (finding)
4          Victim of intimate partner abuse (finding)
..                                                ...
236           Sepsis caused by Pseudomonas (disorder)
237            Chiari malformation type II (disorder)
238                        Allergy to latex (finding)
239   History of disarticulation at wrist (situation)
240                            Meningocele (disorder)

[241 rows x 1 columns]

In [24]:
unique_conditions = pd.DataFrame(conditions_df['DESCRIPTION'].unique(), columns=['Conditions'])
display(unique_conditions)

unique_conditions.to_csv('unique_conditions.csv', index=False)

unique_observations = pd.DataFrame(observations_df['DESCRIPTION'].unique(), columns=['Observations'])
display(unique_observations)

unique_observations.to_csv('unique_observations.csv', index=False)

                                           Conditions
0             Body mass index 30+ - obesity (finding)
1    Only received primary school education (finding)
2                      Full-time employment (finding)
3                          Social isolation (finding)
4          Victim of intimate partner abuse (finding)
..                                                ...
236           Sepsis caused by Pseudomonas (disorder)
237            Chiari malformation type II (disorder)
238                        Allergy to latex (finding)
239   History of disarticulation at wrist (situation)
240                            Meningocele (disorder)

[241 rows x 1 columns]

                                          Observations
0                                          Body Height
1    Pain severity - 0-10 verbal numeric rating [Sc...
2                                          Body Weight
3                                      Body Mass Index
4                             Diastolic Blood Pressure
..                                                 ...
272                       Quality of life score [KOOS]
273                      Sport-recreation score [KOOS]
274            Activities of daily living score [KOOS]
275                                  Pain score [KOOS]
276                              Symptoms score [KOOS]

[277 rows x 1 columns]

In [7]:
# Get unique patient IDs from patients_df
unique_patients = patients_df['Id'].unique()
print(f"Number of unique patients in patients_df: {len(unique_patients)}")

# Get unique patient IDs from observations_df
unique_observations_patients = observations_df['PATIENT'].unique()
print(f"Number of unique patients in observations_df: {len(unique_observations_patients)}")

# Create a join between patients and observations
joined_df = patients_df.merge(observations_df, 
                            left_on='Id', 
                            right_on='PATIENT', 
                            how='inner')

# Count the number of rows in the joined dataframe
print(f"\nNumber of rows in joined dataframe: {len(joined_df)}")

# Additional information about the join
print(f"Number of unique patients in joined data: {joined_df['Id'].nunique()}")

Number of unique patients in patients_df: 15354
Number of unique patients in observations_df: 15354

Number of rows in joined dataframe: 11161255
Number of unique patients in joined data: 15354

In [8]:
# print every unique condition in conditions_df
unique_conditions = pd.DataFrame(conditions_df['DESCRIPTION'].unique(), columns=['Conditions'])
display(unique_conditions)

# output to a unique_conditions.csv
unique_conditions.to_csv('unique_conditions.csv', index=False)

                                           Conditions
0             Body mass index 30+ - obesity (finding)
1    Only received primary school education (finding)
2                      Full-time employment (finding)
3                          Social isolation (finding)
4          Victim of intimate partner abuse (finding)
..                                                ...
236           Sepsis caused by Pseudomonas (disorder)
237            Chiari malformation type II (disorder)
238                        Allergy to latex (finding)
239   History of disarticulation at wrist (situation)
240                            Meningocele (disorder)

[241 rows x 1 columns]

In [9]:
# Filter rows for the specific patient
patient_id = '5605b66b-e92d-c16c-1b83-b8bf7040d51f'
patient_observations = observations_df[observations_df['PATIENT'] == patient_id]

# Display all observations for this patient
print(f"\nObservations for patient {patient_id}:")
print("=" * 80)
print(patient_observations)
print(f"\nTotal number of observations: {len(patient_observations)}")

Observations for patient 5605b66b-e92d-c16c-1b83-b8bf7040d51f:
================================================================================
                     DATE                               PATIENT  \
0    2012-08-18T22:07:23Z  5605b66b-e92d-c16c-1b83-b8bf7040d51f
1    2012-08-18T22:07:23Z  5605b66b-e92d-c16c-1b83-b8bf7040d51f
2    2012-08-18T22:07:23Z  5605b66b-e92d-c16c-1b83-b8bf7040d51f
3    2012-08-18T22:07:23Z  5605b66b-e92d-c16c-1b83-b8bf7040d51f
4    2012-08-18T22:07:23Z  5605b66b-e92d-c16c-1b83-b8bf7040d51f
..                    ...                                   ...
655  2017-03-19T21:07:23Z  5605b66b-e92d-c16c-1b83-b8bf7040d51f
656  2018-03-19T21:07:23Z  5605b66b-e92d-c16c-1b83-b8bf7040d51f
657  2019-03-19T21:07:23Z  5605b66b-e92d-c16c-1b83-b8bf7040d51f
658  2020-03-19T21:07:23Z  5605b66b-e92d-c16c-1b83-b8bf7040d51f
659  2021-03-19T21:07:23Z  5605b66b-e92d-c16c-1b83-b8bf7040d51f

                                ENCOUNTER     CATEGORY     CODE  \
0    e5e22010-0649-229f-013a-44b804bffb11  vital-signs   8302-2
1    e5e22010-0649-229f-013a-44b804bffb11  vital-signs  72514-3
2    e5e22010-0649-229f-013a-44b804bffb11  vital-signs  29463-7
3    e5e22010-0649-229f-013a-44b804bffb11  vital-signs  39156-5
4    e5e22010-0649-229f-013a-44b804bffb11  vital-signs   8462-4
..                                    ...          ...      ...
655                                   NaN          NaN     QOLS
656                                   NaN          NaN     QOLS
657                                   NaN          NaN     QOLS
658                                   NaN          NaN     QOLS
659                                   NaN          NaN     QOLS

                                           DESCRIPTION  VALUE    UNITS  \
0                                          Body Height  174.0       cm
1    Pain severity - 0-10 verbal numeric rating [Sc...    2.0  {score}
2                                          Body Weight   98.6       kg
3                                      Body Mass Index   32.6    kg/m2
4                             Diastolic Blood Pressure  100.0   mm[Hg]
..                                                 ...    ...      ...
655                                               QOLS    1.0  {score}
656                                               QOLS    1.0  {score}
657                                               QOLS    1.0  {score}
658                                               QOLS    1.0  {score}
659                                               QOLS    1.0  {score}

        TYPE
0    numeric
1    numeric
2    numeric
3    numeric
4    numeric
..       ...
655  numeric
656  numeric
657  numeric
658  numeric
659  numeric

[436 rows x 9 columns]

Total number of observations: 436

In [10]:
# Print the number of patients where death_date is null
print(f"Number of patients where death_date is null: {patients_df[patients_df['DEATHDATE'].isnull()]['Id'].nunique()}")
print(f"Number of patients where death_date is null: {patients_df[patients_df['DEATHDATE'].notnull()]['Id'].nunique()}")

Number of patients where death_date is null: 10000
Number of patients where death_date is null: 5354

# Model

In [11]:
# encounter_info = encounters_df.groupby('Id').agg({
#     'PATIENT': 'first',
#     'START': 'first',
#     'TOTAL_CLAIM_COST': 'first',
# }).reset_index()

# display(encounter_info)

In [12]:
# 1. Sort encounters by patient and date
encounters_sorted = encounters_df.sort_values(['PATIENT', 'START'])

# 2. Convert START to datetime if not already
encounters_sorted['START'] = pd.to_datetime(encounters_sorted['START'])

# 3. Calculate efficient costs without creating multi-index
def calculate_efficient_costs(group):
    
    # Calculate total future costs (not including current encounter)
    group['TOTAL_FUTURE_COST'] = group['TOTAL_CLAIM_COST'].shift(-1)[::-1].cumsum()[::-1]
    group['TOTAL_FUTURE_COVERAGE'] = group['PAYER_COVERAGE'].shift(-1)[::-1].cumsum()[::-1]
    
    return group

# 4. Apply calculations to each patient group and reset index
future_costs_df = encounters_sorted.groupby('PATIENT', group_keys=False).apply(calculate_efficient_costs)

future_costs_df['FUTURE_OUT_OF_POCKET'] = future_costs_df['TOTAL_FUTURE_COST'] - future_costs_df['TOTAL_FUTURE_COVERAGE']

# 5. Sort and select relevant columns
encounters_info = future_costs_df[[
    'PATIENT', 
    'Id', 
    'START', 
    'TOTAL_CLAIM_COST',
    'TOTAL_FUTURE_COST',
    'PAYER_COVERAGE',
    'TOTAL_FUTURE_COVERAGE',
    'FUTURE_OUT_OF_POCKET',
]].sort_values(['PATIENT', 'START'])

# Display results
display(encounters_info)

/var/folders/k6/qcvdnsfj7ldclfb0gqdr68ch0000gn/T/ipykernel_2303/1837304206.py:17: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  future_costs_df = encounters_sorted.groupby('PATIENT', group_keys=False).apply(calculate_efficient_costs)

,PATIENT,Id,START,TOTAL_CLAIM_COST,TOTAL_FUTURE_COST,PAYER_COVERAGE,TOTAL_FUTURE_COVERAGE,FUTURE_OUT_OF_POCKET
1326406,0007b281-7eb0-f2b2-d12a-3fc1e2f7e3e2,00d7b4c1-33fd-c23c-9c7a-32835ae300b5,1968-03-22 15:35:11+00:00,704.20,455544.02,0.00,174205.29,281338.73
1326408,0007b281-7eb0-f2b2-d12a-3fc1e2f7e3e2,b36f3e62-3b0f-cbce-e026-e70368463b43,1969-03-28 15:35:11+00:00,704.20,454839.82,0.00,174205.29,280634.53
1326410,0007b281-7eb0-f2b2-d12a-3fc1e2f7e3e2,917bed88-50e8-cc67-99b3-e176bedba246,1974-11-08 15:35:11+00:00,221.55,454618.27,0.00,174205.29,280412.98
1326412,0007b281-7eb0-f2b2-d12a-3fc1e2f7e3e2,c5843448-6c17-038e-0a55-98854667991b,1975-04-04 15:35:11+00:00,857.48,453760.79,0.00,174205.29,279555.50
1326418,0007b281-7eb0-f2b2-d12a-3fc1e2f7e3e2,b2f8afb9-61c7-d0c0-fde7-f639c9ed3976,1976-04-09 15:35:11+00:00,789.10,452971.69,0.00,174205.29,278766.40
...,...,...,...,...,...,...,...,...
706341,ffff8231-24fc-286c-dd11-c79f89a19d25,8f0fa7ad-deb5-dd08-3a41-c0f68deafa87,2018-12-03 07:08:16+00:00,17664.99,44531.90,14052.17,35460.71,9071.19
706343,ffff8231-24fc-286c-dd11-c79f89a19d25,dd7eaf31-387b-afc1-c3a6-fdb9663d2551,2019-05-28 04:08:16+00:00,349.79,44182.11,245.03,35215.68,8966.43
706342,ffff8231-24fc-286c-dd11-c79f89a19d25,c1f95d08-5330-64e2-3939-30c5b9bcc1eb,2019-06-03 07:08:16+00:00,29014.70,15167.41,23179.76,12035.92,3131.49
706344,ffff8231-24fc-286c-dd11-c79f89a19d25,8fb8d1df-6cc0-4c4d-a3ee-831d4c62efa3,2019-06-10 07:08:16+00:00,15167.41,0.00,12035.92,0.00,0.00
706345,ffff8231-24fc-286c-dd11-c79f89a19d25,2414ac34-dcbf-715e-8aba-94e91ff7db50,2019-09-02 07:08:16+00:00,0.00,NaN,0.00,NaN,NaN

In [13]:
# augment encounter_info with the sum of every Total_Claim_Cost and Payer_Coverage (needed to calculate out of pocket) where the start date > current start and patient is the same

pivot_table = observations_df.pivot_table(
    index='ENCOUNTER',
    columns='DESCRIPTION',
    values='VALUE',
    aggfunc='first'  # Takes the first value if there are duplicates
).reset_index()

flattened_observations_df = pd.merge(
    encounters_info,
    pivot_table,
    left_on='Id',
    right_on='ENCOUNTER',
    how='right'
)

flattened_observations_df.drop(columns='Id', inplace=True)
flattened_observations_df.rename(columns={'START': 'DATE'}, inplace=True)

display(flattened_observations_df)

,PATIENT,DATE,TOTAL_CLAIM_COST,TOTAL_FUTURE_COST,PAYER_COVERAGE,TOTAL_FUTURE_COVERAGE,FUTURE_OUT_OF_POCKET,ENCOUNTER,A great deal of time is spent in activities necessary to obtain the opioid use the opioid or recover from its effects,ALT (Elevated),...,What number best describes how during the past week pain has interfered with your enjoyment of life?,What number best describes how during the past week pain has interfered with your general activity?,What number best describes your pain on average in the past week?,Wheat IgE Ab in Serum,Which race(s) are you?,White Blood Cell (Elevated),White oak IgE Ab in Serum,Withdrawal * as manifested by either of the following: a) Characteristic opioid withdrawal syndrome b) Same (or a closely related) substance is taken to relieve or avoid withdrawal symptoms,pH of Arterial blood,pH of Urine by Test strip
0,1937a024-6b54-75f2-e60d-1f16e7c6bb85,1998-02-24 00:50:16+00:00,234.71,824209.79,155.77,116578.55,707631.24,00000ec0-a398-6069-3502-26269c6a0a8a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
1,0c2cc2ef-74b1-1567-eab3-316b0933febe,2003-08-26 04:04:27+00:00,744.56,1184010.04,0.00,0.00,1184010.04,0000140c-583e-17fe-5023-3e9aee79cb50,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,66f55446-3d91-9b05-7069-0d49f5760e70,2013-09-07 18:55:53+00:00,384.59,67100.38,211.66,46573.85,20526.53,00002f59-b1b7-01bf-ac08-59e6b25a6845,NaN,NaN,...,NaN,NaN,NaN,NaN,White,NaN,NaN,NaN,NaN,NaN
3,d15a0f57-110a-6140-0dae-5f851e01c69c,2017-02-14 14:29:50+00:00,22691.31,3532548.97,0.00,0.00,3532548.97,000030f3-e425-e835-0e69-7df804a78081,NaN,NaN,...,NaN,NaN,NaN,NaN,White,NaN,NaN,NaN,NaN,NaN
4,5b864457-385f-bd11-1c31-c7710ffecd31,2016-03-08 09:43:15+00:00,1376.22,427291.72,1045.40,330330.62,96961.10,0000359a-bb73-ca8d-41ae-d4c0bb4de21b,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
455158,890df7ff-4002-05c0-986f-eacff361bce2,2021-07-19 23:36:01+00:00,1200.29,NaN,960.23,NaN,NaN,fffefed2-b2e8-77ac-5b84-d1b2d91fba57,NaN,NaN,...,NaN,NaN,NaN,NaN,White,NaN,NaN,NaN,NaN,NaN
455159,a2a52b02-bd75-f1d9-fedd-73389cb865ce,2014-02-01 22:19:10+00:00,215.49,88698.24,108.39,70062.48,18635.76,ffff6166-443e-2430-f73a-8fbd7135085a,NaN,NaN,...,5.8,8.7,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
455160,c3f9a3b1-cfbc-dc53-ddf3-cb94680634b7,2014-05-13 05:26:02+00:00,215.49,21113.36,108.39,16311.40,4801.96,ffff6327-3158-6dd9-7a6e-618e9abb514b,NaN,NaN,...,1.2,2.0,5.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
455161,3ca1d30d-4e90-d93c-c803-37e0d13579e7,1996-11-29 10:22:08+00:00,1697.32,44233.74,0.00,14685.60,29548.14,ffff93f1-2631-32ce-1012-a2abfe1366c1,NaN,NaN,...,NaN,NaN,NaN,NaN,White,NaN,NaN,NaN,NaN,NaN
455162,18fa8969-af9f-fdf7-ceb0-e1bbc191b445,2012-12-17 17:19:59+00:00,234.72,63010.56,0.00,40035.84,22974.72,ffff9aff-1d1f-4242-b6af-f0ee02185144,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
conditions_df['PRESENT'] = 1

flattened_conditions_df = conditions_df.pivot_table(
    index='ENCOUNTER',
    columns='DESCRIPTION',
    values='PRESENT',
    aggfunc='first', # Takes the first value if there are duplicates
    fill_value=0,
).reset_index()

display(flattened_conditions_df)

DESCRIPTION,ENCOUNTER,Acquired coagulation disorder (disorder),Acute Cholecystitis,Acute allergic reaction,Acute bacterial sinusitis (disorder),Acute bronchitis (disorder),Acute deep venous thrombosis (disorder),Acute pulmonary embolism (disorder),Acute respiratory distress syndrome (disorder),Acute respiratory failure (disorder),...,Tubal pregnancy,Unable to swallow saliva (finding),Unemployed (finding),Unhealthy alcohol drinking behavior (finding),Urinary tract infectious disease (disorder),Victim of intimate partner abuse (finding),Viral sinusitis (disorder),Vomiting symptom (finding),Wheezing (finding),Whiplash injury to neck
0,00000845-ab41-c6e1-477a-79cff4509436,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,00000ad7-12f1-333f-e7d9-c6bd533a939b,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,00002f59-b1b7-01bf-ac08-59e6b25a6845,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,000030f3-e425-e835-0e69-7df804a78081,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,000036c1-d08e-3170-4eff-a3fc3d33b8c9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
628216,ffff859c-792e-71f6-c4b0-3ae8073f5333,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
628217,ffff93f1-2631-32ce-1012-a2abfe1366c1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
628218,ffffb618-c3fa-0fef-707e-c8f79c51d46f,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
628219,ffffd15b-d039-5629-a987-727eaeb8bdc2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
628220,fffff640-1d40-6a22-613e-b33a579a94b5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
combined_df = pd.merge(
    flattened_observations_df,
    flattened_conditions_df,
    on='ENCOUNTER',
    how='inner'
)

display(combined_df)

,PATIENT,DATE,TOTAL_CLAIM_COST,TOTAL_FUTURE_COST,PAYER_COVERAGE,TOTAL_FUTURE_COVERAGE,FUTURE_OUT_OF_POCKET,ENCOUNTER,A great deal of time is spent in activities necessary to obtain the opioid use the opioid or recover from its effects,ALT (Elevated),...,Tubal pregnancy,Unable to swallow saliva (finding),Unemployed (finding),Unhealthy alcohol drinking behavior (finding),Urinary tract infectious disease (disorder),Victim of intimate partner abuse (finding),Viral sinusitis (disorder),Vomiting symptom (finding),Wheezing (finding),Whiplash injury to neck
0,66f55446-3d91-9b05-7069-0d49f5760e70,2013-09-07 18:55:53+00:00,384.59,67100.38,211.66,46573.85,20526.53,00002f59-b1b7-01bf-ac08-59e6b25a6845,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
1,d15a0f57-110a-6140-0dae-5f851e01c69c,2017-02-14 14:29:50+00:00,22691.31,3532548.97,0.00,0.00,3532548.97,000030f3-e425-e835-0e69-7df804a78081,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
2,198e52da-4186-cd77-fd3f-b70da4ea86c4,2020-10-08 02:29:22+00:00,85.55,1607.94,0.00,0.00,1607.94,000049be-be25-1ca3-6740-efc4ac605439,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
3,9b608421-493f-d92a-5ae2-2ef0c731d8d2,2013-09-27 02:05:38+00:00,1364.44,19001.38,0.00,1039.15,17962.23,0000c980-d19a-ffc0-b6be-d9511da22fb0,NaN,NaN,...,0,0,0,0,0,1,0,0,0,0
4,01b26000-5982-32e1-75b1-98de5f47f6a2,2009-05-31 07:47:22+00:00,85.56,118405.55,36.44,92535.89,25869.66,000186d8-267a-e8b0-cdd0-c59c9d4daa44,NaN,NaN,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210412,712fc63c-b011-bd52-b7a2-3806e365e4b6,2019-01-01 22:14:11+00:00,85.55,40295.24,0.00,0.00,40295.24,fffea197-ed27-db20-ee4c-f0f5f66d6336,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
210413,75f0320c-47a7-3c77-0153-1ee58cd88880,2019-08-03 05:40:11+00:00,1050.79,84945.99,0.00,0.00,84945.99,fffec896-f032-35fd-95ce-6400d3a504ba,NaN,NaN,...,0,0,0,1,0,0,0,0,0,0
210414,890df7ff-4002-05c0-986f-eacff361bce2,2021-07-19 23:36:01+00:00,1200.29,NaN,960.23,NaN,NaN,fffefed2-b2e8-77ac-5b84-d1b2d91fba57,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
210415,a2a52b02-bd75-f1d9-fedd-73389cb865ce,2014-02-01 22:19:10+00:00,215.49,88698.24,108.39,70062.48,18635.76,ffff6166-443e-2430-f73a-8fbd7135085a,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
210416,3ca1d30d-4e90-d93c-c803-37e0d13579e7,1996-11-29 10:22:08+00:00,1697.32,44233.74,0.00,14685.60,29548.14,ffff93f1-2631-32ce-1012-a2abfe1366c1,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0

In [16]:
# Group by PATIENT and count occurrences, then filter to keep only patients with < 5 appearances
patient_counts = combined_df.groupby('PATIENT').size()
patients_to_keep = patient_counts[patient_counts > 4].index

# Filter the original dataframe to keep only rows where PATIENT is in the filtered list
final_df = combined_df[combined_df['PATIENT'].isin(patients_to_keep)]

final_df.loc[:, "DATE"] = pd.to_datetime(final_df["DATE"], errors='coerce').dt.tz_localize(None)
comparison_date = pd.to_datetime('2000-01-01')
final_df = final_df[final_df["DATE"] >= comparison_date]

display(final_df)

/var/folders/k6/qcvdnsfj7ldclfb0gqdr68ch0000gn/T/ipykernel_2303/2223276641.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '<DatetimeArray>
['2013-09-07 18:55:53', '2017-02-14 14:29:50', '2020-10-08 02:29:22',
 '2013-09-27 02:05:38', '2009-05-31 07:47:22', '1999-07-12 13:52:02',
 '2014-07-31 11:15:30', '2018-03-06 13:31:09', '2020-08-19 16:30:23',
 '1981-01-20 23:29:07',
 ...
 '2019-01-13 23:01:22', '2017-04-25 14:54:14', '2005-09-19 10:59:56',
 '2003-01-16 19:59:53', '2016-04-20 03:12:19', '2019-01-01 22:14:11',
 '2019-08-03 05:40:11', '2021-07-19 23:36:01', '2014-02-01 22:19:10',
 '1996-11-29 10:22:08']
Length: 207462, dtype: datetime64[ns]' has dtype incompatible with datetime64[ns, UTC], please explicitly cast to a compatible dtype first.
  final_df.loc[:, "DATE"] = pd.to_datetime(final_df["DATE"], errors='coerce').dt.tz_localize(None)

,PATIENT,DATE,TOTAL_CLAIM_COST,TOTAL_FUTURE_COST,PAYER_COVERAGE,TOTAL_FUTURE_COVERAGE,FUTURE_OUT_OF_POCKET,ENCOUNTER,A great deal of time is spent in activities necessary to obtain the opioid use the opioid or recover from its effects,ALT (Elevated),...,Tubal pregnancy,Unable to swallow saliva (finding),Unemployed (finding),Unhealthy alcohol drinking behavior (finding),Urinary tract infectious disease (disorder),Victim of intimate partner abuse (finding),Viral sinusitis (disorder),Vomiting symptom (finding),Wheezing (finding),Whiplash injury to neck
0,66f55446-3d91-9b05-7069-0d49f5760e70,2013-09-07 18:55:53,384.59,67100.38,211.66,46573.85,20526.53,00002f59-b1b7-01bf-ac08-59e6b25a6845,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
1,d15a0f57-110a-6140-0dae-5f851e01c69c,2017-02-14 14:29:50,22691.31,3532548.97,0.00,0.00,3532548.97,000030f3-e425-e835-0e69-7df804a78081,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
2,198e52da-4186-cd77-fd3f-b70da4ea86c4,2020-10-08 02:29:22,85.55,1607.94,0.00,0.00,1607.94,000049be-be25-1ca3-6740-efc4ac605439,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
3,9b608421-493f-d92a-5ae2-2ef0c731d8d2,2013-09-27 02:05:38,1364.44,19001.38,0.00,1039.15,17962.23,0000c980-d19a-ffc0-b6be-d9511da22fb0,NaN,NaN,...,0,0,0,0,0,1,0,0,0,0
4,01b26000-5982-32e1-75b1-98de5f47f6a2,2009-05-31 07:47:22,85.56,118405.55,36.44,92535.89,25869.66,000186d8-267a-e8b0-cdd0-c59c9d4daa44,NaN,NaN,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210411,cf85b983-50ca-17b1-3845-e4dd9f427a60,2016-04-20 03:12:19,1127.88,30088.66,902.30,23779.69,6308.97,fffe6f16-51f9-ad64-511a-7f3a680143da,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
210412,712fc63c-b011-bd52-b7a2-3806e365e4b6,2019-01-01 22:14:11,85.55,40295.24,0.00,0.00,40295.24,fffea197-ed27-db20-ee4c-f0f5f66d6336,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
210413,75f0320c-47a7-3c77-0153-1ee58cd88880,2019-08-03 05:40:11,1050.79,84945.99,0.00,0.00,84945.99,fffec896-f032-35fd-95ce-6400d3a504ba,NaN,NaN,...,0,0,0,1,0,0,0,0,0,0
210414,890df7ff-4002-05c0-986f-eacff361bce2,2021-07-19 23:36:01,1200.29,NaN,960.23,NaN,NaN,fffefed2-b2e8-77ac-5b84-d1b2d91fba57,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
210415,a2a52b02-bd75-f1d9-fedd-73389cb865ce,2014-02-01 22:19:10,215.49,88698.24,108.39,70062.48,18635.76,ffff6166-443e-2430-f73a-8fbd7135085a,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0

In [17]:
filtered_patients_df = patients_df[['Id', 'BIRTHDATE', 'RACE', 'ETHNICITY', 'GENDER']]

final_df = pd.merge(
    filtered_patients_df,
    final_df,
    left_on='Id',
    right_on='PATIENT',
    how='inner',
)

final_df.drop(columns='Id', inplace=True)

display(final_df)

,BIRTHDATE,RACE,ETHNICITY,GENDER,PATIENT,DATE,TOTAL_CLAIM_COST,TOTAL_FUTURE_COST,PAYER_COVERAGE,TOTAL_FUTURE_COVERAGE,...,Tubal pregnancy,Unable to swallow saliva (finding),Unemployed (finding),Unhealthy alcohol drinking behavior (finding),Urinary tract infectious disease (disorder),Victim of intimate partner abuse (finding),Viral sinusitis (disorder),Vomiting symptom (finding),Wheezing (finding),Whiplash injury to neck
0,1936-07-03,white,hispanic,M,c06a2ab3-c3b1-a3d0-7c12-262a12c6885e,2017-12-30 05:14:39,968.78,4447.28,723.15,3206.55,...,0,0,0,0,0,0,0,0,0,0
1,1936-07-03,white,hispanic,M,c06a2ab3-c3b1-a3d0-7c12-262a12c6885e,2020-01-11 05:14:39,1307.47,2216.86,957.90,1570.96,...,0,0,0,0,0,0,0,0,0,0
2,1936-07-03,white,hispanic,M,c06a2ab3-c3b1-a3d0-7c12-262a12c6885e,2022-01-22 05:14:39,853.31,NaN,601.58,NaN,...,0,0,0,0,0,0,0,0,0,0
3,1936-07-03,white,hispanic,M,c06a2ab3-c3b1-a3d0-7c12-262a12c6885e,2019-01-05 05:14:39,922.95,3524.33,677.69,2528.86,...,0,0,0,0,0,0,0,0,0,0
4,1936-07-03,white,hispanic,M,c06a2ab3-c3b1-a3d0-7c12-262a12c6885e,2012-12-01 05:14:39,1326.43,10919.21,1011.95,7997.07,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173356,1953-01-17,black,nonhispanic,F,d03e5f55-ae57-f451-5a0f-76ccf432f3cf,2017-12-02 08:04:42,785.59,49116.09,33.97,38484.68,...,0,0,0,0,0,0,0,0,0,0
173357,1953-01-17,black,nonhispanic,F,d03e5f55-ae57-f451-5a0f-76ccf432f3cf,2020-12-19 08:04:42,785.59,35573.23,628.46,28266.55,...,0,0,0,0,0,0,0,0,0,0
173358,1953-01-17,black,nonhispanic,F,d03e5f55-ae57-f451-5a0f-76ccf432f3cf,2021-12-25 08:04:42,785.59,NaN,628.46,NaN,...,0,0,0,0,0,0,0,0,0,0
173359,1953-01-17,black,nonhispanic,F,d03e5f55-ae57-f451-5a0f-76ccf432f3cf,2013-11-09 08:04:42,1313.80,54356.49,0.00,38518.65,...,0,0,0,0,0,1,0,0,0,0
173360,1953-01-17,black,nonhispanic,F,d03e5f55-ae57-f451-5a0f-76ccf432f3cf,2018-12-08 08:04:42,1198.68,38405.50,958.94,30468.33,...,0,0,0,0,0,0,0,0,0,0

In [18]:
final_df.loc[:, "DATE"] = pd.to_datetime(final_df["DATE"], errors='coerce')

final_df.loc[:, "BIRTHDATE"] = pd.to_datetime(final_df["BIRTHDATE"], errors='coerce')

final_df['AGE'] = final_df.apply(lambda row: row['DATE'].year - row['BIRTHDATE'].year - ((row['DATE'].month, row['DATE'].day) < (row['BIRTHDATE'].month, row['BIRTHDATE'].day)), axis=1)
display(final_df)

,BIRTHDATE,RACE,ETHNICITY,GENDER,PATIENT,DATE,TOTAL_CLAIM_COST,TOTAL_FUTURE_COST,PAYER_COVERAGE,TOTAL_FUTURE_COVERAGE,...,Unable to swallow saliva (finding),Unemployed (finding),Unhealthy alcohol drinking behavior (finding),Urinary tract infectious disease (disorder),Victim of intimate partner abuse (finding),Viral sinusitis (disorder),Vomiting symptom (finding),Wheezing (finding),Whiplash injury to neck,AGE
0,1936-07-03 00:00:00,white,hispanic,M,c06a2ab3-c3b1-a3d0-7c12-262a12c6885e,2017-12-30 05:14:39,968.78,4447.28,723.15,3206.55,...,0,0,0,0,0,0,0,0,0,81
1,1936-07-03 00:00:00,white,hispanic,M,c06a2ab3-c3b1-a3d0-7c12-262a12c6885e,2020-01-11 05:14:39,1307.47,2216.86,957.90,1570.96,...,0,0,0,0,0,0,0,0,0,83
2,1936-07-03 00:00:00,white,hispanic,M,c06a2ab3-c3b1-a3d0-7c12-262a12c6885e,2022-01-22 05:14:39,853.31,NaN,601.58,NaN,...,0,0,0,0,0,0,0,0,0,85
3,1936-07-03 00:00:00,white,hispanic,M,c06a2ab3-c3b1-a3d0-7c12-262a12c6885e,2019-01-05 05:14:39,922.95,3524.33,677.69,2528.86,...,0,0,0,0,0,0,0,0,0,82
4,1936-07-03 00:00:00,white,hispanic,M,c06a2ab3-c3b1-a3d0-7c12-262a12c6885e,2012-12-01 05:14:39,1326.43,10919.21,1011.95,7997.07,...,0,0,0,0,0,0,0,0,0,76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173356,1953-01-17 00:00:00,black,nonhispanic,F,d03e5f55-ae57-f451-5a0f-76ccf432f3cf,2017-12-02 08:04:42,785.59,49116.09,33.97,38484.68,...,0,0,0,0,0,0,0,0,0,64
173357,1953-01-17 00:00:00,black,nonhispanic,F,d03e5f55-ae57-f451-5a0f-76ccf432f3cf,2020-12-19 08:04:42,785.59,35573.23,628.46,28266.55,...,0,0,0,0,0,0,0,0,0,67
173358,1953-01-17 00:00:00,black,nonhispanic,F,d03e5f55-ae57-f451-5a0f-76ccf432f3cf,2021-12-25 08:04:42,785.59,NaN,628.46,NaN,...,0,0,0,0,0,0,0,0,0,68
173359,1953-01-17 00:00:00,black,nonhispanic,F,d03e5f55-ae57-f451-5a0f-76ccf432f3cf,2013-11-09 08:04:42,1313.80,54356.49,0.00,38518.65,...,0,0,0,0,1,0,0,0,0,60
173360,1953-01-17 00:00:00,black,nonhispanic,F,d03e5f55-ae57-f451-5a0f-76ccf432f3cf,2018-12-08 08:04:42,1198.68,38405.50,958.94,30468.33,...,0,0,0,0,0,0,0,0,0,65

In [19]:
final_df.to_csv("final_df.csv", index=False)

In [23]:
unique_races = final_df["RACE"].unique()

display(unique_races)

array(['white', 'black', 'asian', 'native', 'hawaiian', 'other'],
      dtype=object)