In [8]:
import pandas as pd
import os

path = "dataverse_files/pop1/"

# List of file names without .csv extension
file_names = [
    'allergies', 'careplans', 'conditions', 'devices', 'encounters',
    'immunizations', 'medications', 'observations', 'organizations',
    'patients', 'payers', 'procedures', 'providers'
]

# Create a dictionary to store all dataframes
dfs = {}

# Import each CSV file
for file in file_names:
    df_name = f"{file}_df"
    file_path = os.path.join(path, f"{file}.csv")
    dfs[df_name] = pd.read_csv(file_path)

# Create individual dataframe variables
for df_name, df in dfs.items():
    globals()[df_name] = df

In [16]:
df_names = [
    'allergies_df', 'careplans_df', 'conditions_df', 'devices_df', 
    'encounters_df', 'immunizations_df', 'medications_df', 'observations_df', 
    'organizations_df', 'patients_df', 'payers_df', 'procedures_df', 'providers_df'
]

# Display top 5 rows of each dataframe with a clear header
for df_name in df_names:
    print(f"\n{'='*50}")
    print(f"Number of rows in {df_name}: {len(globals()[df_name])}")
    print(f"Top 5 rows of {df_name}:")
    print(f"{'='*50}")
    try:
        display(globals()[df_name].head())
    except:
        print(f"Error: {df_name} not found or empty")

==================================================
Number of rows in allergies_df: 5539
Top 5 rows of allergies_df:
==================================================

,START,STOP,PATIENT,ENCOUNTER,CODE,SYSTEM,DESCRIPTION,TYPE,CATEGORY,REACTION1,DESCRIPTION1,SEVERITY1,REACTION2,DESCRIPTION2,SEVERITY2
0,1959-04-24,NaN,0a859c31-a1e5-03ee-7e60-c3661644185f,33e2f21b-4a09-5714-a906-aeb9bfc454b3,84489001,Unknown,Mold (organism),allergy,environment,NaN,NaN,NaN,NaN,NaN,NaN
1,1959-04-24,NaN,0a859c31-a1e5-03ee-7e60-c3661644185f,33e2f21b-4a09-5714-a906-aeb9bfc454b3,260147004,Unknown,House dust mite (organism),allergy,environment,NaN,NaN,NaN,NaN,NaN,NaN
2,1959-04-24,NaN,0a859c31-a1e5-03ee-7e60-c3661644185f,33e2f21b-4a09-5714-a906-aeb9bfc454b3,264287008,Unknown,Animal dander (substance),allergy,environment,271807003.0,Eruption of skin (disorder),MILD,NaN,NaN,NaN
3,1959-04-24,NaN,0a859c31-a1e5-03ee-7e60-c3661644185f,33e2f21b-4a09-5714-a906-aeb9bfc454b3,782576004,Unknown,Tree pollen (substance),allergy,environment,NaN,NaN,NaN,NaN,NaN,NaN
4,1959-04-24,NaN,0a859c31-a1e5-03ee-7e60-c3661644185f,33e2f21b-4a09-5714-a906-aeb9bfc454b3,102263004,Unknown,Eggs (edible) (substance),allergy,food,247472004.0,Wheal (finding),MODERATE,NaN,NaN,NaN

==================================================
Number of rows in careplans_df: 64157
Top 5 rows of careplans_df:
==================================================

,Id,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION,REASONCODE,REASONDESCRIPTION
0,6d13e51f-f5ec-e53f-46b8-7128c059e7e4,1991-04-20,NaN,5605b66b-e92d-c16c-1b83-b8bf7040d51f,8ac8a7d4-f24d-20a8-dfa1-812a94f726e6,718361005,Weight management program,NaN,NaN
1,6f574324-f9b6-a0da-ca5e-870039fc7096,1994-02-03,NaN,c06a2ab3-c3b1-a3d0-7c12-262a12c6885e,4d42ecf9-ef0a-2c87-82e5-b89c188c66a9,408869004,Musculoskeletal care,201834006.0,Localized primary osteoarthritis of the hand
2,d29f0214-dcab-5ad0-9504-3a006bc0e831,1995-05-13,NaN,5605b66b-e92d-c16c-1b83-b8bf7040d51f,63023e17-bb98-6d93-5296-e1fceb93cbe9,443402002,Lifestyle education regarding hypertension,59621000.0,Hypertension
3,06b4eaf4-15aa-c9ac-20f3-3d00712a8edc,2014-12-27,2015-01-06,5605b66b-e92d-c16c-1b83-b8bf7040d51f,8181316f-5fcd-693c-e020-3ba970427f9a,53950000,Respiratory therapy,NaN,NaN
4,8c3787b8-a3ee-0b88-8310-876936075bc5,2016-07-31,2016-09-10,5605b66b-e92d-c16c-1b83-b8bf7040d51f,42afa107-c831-a412-c60e-3540134434f7,53950000,Respiratory therapy,NaN,NaN

==================================================
Number of rows in conditions_df: 866514
Top 5 rows of conditions_df:
==================================================

,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION
0,1988-04-02,NaN,5605b66b-e92d-c16c-1b83-b8bf7040d51f,be3e07a4-00ea-4e1f-6e5c-32620712d7e1,162864005,Body mass index 30+ - obesity (finding)
1,1954-08-27,NaN,c06a2ab3-c3b1-a3d0-7c12-262a12c6885e,3e2dd16e-a2f0-6467-1950-84ef2e834c73,224295006,Only received primary school education (finding)
2,1954-08-27,1955-09-02,c06a2ab3-c3b1-a3d0-7c12-262a12c6885e,3e2dd16e-a2f0-6467-1950-84ef2e834c73,160903007,Full-time employment (finding)
3,1954-08-27,1958-09-05,c06a2ab3-c3b1-a3d0-7c12-262a12c6885e,3e2dd16e-a2f0-6467-1950-84ef2e834c73,422650009,Social isolation (finding)
4,1955-09-02,1958-09-05,c06a2ab3-c3b1-a3d0-7c12-262a12c6885e,2f572a12-0189-7eba-f11c-d308deb08435,160903007,Full-time employment (finding)

==================================================
Number of rows in devices_df: 16222
Top 5 rows of devices_df:
==================================================

,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION,UDI
0,1986-01-20T19:56:11Z,NaN,94d39619-8e17-d248-41b3-9ec1f2d031b2,eeadea5e-c03f-a7ae-e0a5-6f53597c1b75,170615005,Home nebulizer (physical object),(01)53466052043425(11)861230(17)110114(10)8308...
1,2008-05-26T19:56:11Z,NaN,94d39619-8e17-d248-41b3-9ec1f2d031b2,41f463c2-18b4-5d55-d14a-e81a9098587a,337414009,Blood glucose meter (physical object),(01)84944861557801(11)080505(17)330520(10)7665...
2,1961-12-02T17:45:50Z,NaN,6ba3aa40-7557-835d-5751-f40ad4edf832,498de81d-92c6-d821-f924-b4e0d6b31e9a,337414009,Blood glucose meter (physical object),(01)14000984999826(11)611111(17)861126(10)5113...
3,1983-08-11T00:36:03Z,NaN,d536c0da-c3c8-edca-ebc5-24ee565621a2,d3535308-ea65-9b2a-6ef3-4f72019b3e29,337414009,Blood glucose meter (physical object),(01)87379442769627(11)830720(17)080803(10)3475...
4,1996-10-06T00:45:50Z,1997-02-09T00:45:50Z,6ba3aa40-7557-835d-5751-f40ad4edf832,846eb958-7ef7-767f-1b19-7dd2bed5b69e,170615005,Home nebulizer (physical object),(01)14032310827578(11)960914(17)210929(10)5962...

==================================================
Number of rows in encounters_df: 1371435
Top 5 rows of encounters_df:
==================================================

,Id,START,STOP,PATIENT,ORGANIZATION,PROVIDER,PAYER,ENCOUNTERCLASS,CODE,DESCRIPTION,BASE_ENCOUNTER_COST,TOTAL_CLAIM_COST,PAYER_COVERAGE,REASONCODE,REASONDESCRIPTION
0,be3e07a4-00ea-4e1f-6e5c-32620712d7e1,1988-04-02T22:07:23Z,1988-04-02T22:22:23Z,5605b66b-e92d-c16c-1b83-b8bf7040d51f,0aef5bb7-af50-38c6-934a-8f5a25d81fd1,1f1d9cdf-e594-3527-8f86-6ac68b0a5d30,42c4fca7-f8a9-3cd1-982a-dd9751bf3e2a,wellness,410620009,Well child visit (procedure),136.8,347.38,0.0,NaN,NaN
1,8ac8a7d4-f24d-20a8-dfa1-812a94f726e6,1991-04-20T22:07:23Z,1991-04-20T22:22:23Z,5605b66b-e92d-c16c-1b83-b8bf7040d51f,0aef5bb7-af50-38c6-934a-8f5a25d81fd1,1f1d9cdf-e594-3527-8f86-6ac68b0a5d30,d47b3510-2895-3b70-9897-342d681c769d,wellness,410620009,Well child visit (procedure),136.8,1157.88,0.0,NaN,NaN
2,3e2dd16e-a2f0-6467-1950-84ef2e834c73,1954-08-28T05:14:39Z,1954-08-28T05:29:39Z,c06a2ab3-c3b1-a3d0-7c12-262a12c6885e,5e91d1b8-0e6e-32d4-93df-449c6c624492,7f9f32d1-4426-3277-9fbd-8ae3855df313,047f6ec3-6215-35eb-9608-f9dda363a44c,wellness,162673000,General examination of patient (procedure),136.8,704.20,0.0,NaN,NaN
3,2f572a12-0189-7eba-f11c-d308deb08435,1955-09-03T05:14:39Z,1955-09-03T05:29:39Z,c06a2ab3-c3b1-a3d0-7c12-262a12c6885e,5e91d1b8-0e6e-32d4-93df-449c6c624492,7f9f32d1-4426-3277-9fbd-8ae3855df313,047f6ec3-6215-35eb-9608-f9dda363a44c,wellness,162673000,General examination of patient (procedure),136.8,1266.54,0.0,NaN,NaN
4,c71f66d6-d085-b323-e1b7-8963e510d4db,1958-09-06T05:14:39Z,1958-09-06T05:29:39Z,c06a2ab3-c3b1-a3d0-7c12-262a12c6885e,5e91d1b8-0e6e-32d4-93df-449c6c624492,7f9f32d1-4426-3277-9fbd-8ae3855df313,d47b3510-2895-3b70-9897-342d681c769d,wellness,162673000,General examination of patient (procedure),136.8,1491.93,0.0,NaN,NaN

==================================================
Number of rows in immunizations_df: 181648
Top 5 rows of immunizations_df:
==================================================

,DATE,PATIENT,ENCOUNTER,CODE,DESCRIPTION,BASE_COST
0,2012-08-18T22:07:23Z,5605b66b-e92d-c16c-1b83-b8bf7040d51f,e5e22010-0649-229f-013a-44b804bffb11,140,Influenza seasonal injectable preservative ...,136.0
1,2013-08-24T22:07:23Z,5605b66b-e92d-c16c-1b83-b8bf7040d51f,9086e6bd-03a4-1783-6a66-d96d0fb23818,140,Influenza seasonal injectable preservative ...,136.0
2,2014-08-30T22:07:23Z,5605b66b-e92d-c16c-1b83-b8bf7040d51f,5a741bc7-7b91-aa67-eb30-6da1d4e25615,140,Influenza seasonal injectable preservative ...,136.0
3,2015-01-03T22:07:23Z,5605b66b-e92d-c16c-1b83-b8bf7040d51f,97aa7023-7871-a2d2-d798-e9da14eff123,140,Influenza seasonal injectable preservative ...,136.0
4,2012-12-01T05:14:39Z,c06a2ab3-c3b1-a3d0-7c12-262a12c6885e,93001935-6565-e85b-8338-ae35fe668b74,140,Influenza seasonal injectable preservative ...,136.0

==================================================
Number of rows in medications_df: 1589918
Top 5 rows of medications_df:
==================================================

,START,STOP,PATIENT,PAYER,ENCOUNTER,CODE,DESCRIPTION,BASE_COST,PAYER_COVERAGE,DISPENSES,TOTALCOST,REASONCODE,REASONDESCRIPTION
0,1995-05-13T22:07:23Z,1996-05-18T22:07:23Z,5605b66b-e92d-c16c-1b83-b8bf7040d51f,6e2f1a2d-27bd-3701-8d08-dae202c58632,63023e17-bb98-6d93-5296-e1fceb93cbe9,310798,Hydrochlorothiazide 25 MG Oral Tablet,0.00,0.0,12,0.00,59621000.0,Hypertension
1,1995-05-13T22:07:23Z,1996-05-18T22:07:23Z,5605b66b-e92d-c16c-1b83-b8bf7040d51f,6e2f1a2d-27bd-3701-8d08-dae202c58632,63023e17-bb98-6d93-5296-e1fceb93cbe9,314076,lisinopril 10 MG Oral Tablet,0.01,0.0,371,3.71,59621000.0,Hypertension
2,1996-05-18T22:07:23Z,1997-05-24T22:07:23Z,5605b66b-e92d-c16c-1b83-b8bf7040d51f,047f6ec3-6215-35eb-9608-f9dda363a44c,9f1a2446-6109-ca43-b3cd-d5f22ba5b433,310798,Hydrochlorothiazide 25 MG Oral Tablet,0.00,0.0,12,0.00,59621000.0,Hypertension
3,1996-05-18T22:07:23Z,1997-05-24T22:07:23Z,5605b66b-e92d-c16c-1b83-b8bf7040d51f,047f6ec3-6215-35eb-9608-f9dda363a44c,9f1a2446-6109-ca43-b3cd-d5f22ba5b433,314076,lisinopril 10 MG Oral Tablet,0.01,0.0,371,3.71,59621000.0,Hypertension
4,1997-05-24T22:07:23Z,1998-05-30T22:07:23Z,5605b66b-e92d-c16c-1b83-b8bf7040d51f,42c4fca7-f8a9-3cd1-982a-dd9751bf3e2a,c51977a5-225e-a87b-08ec-3280e7c9acca,310798,Hydrochlorothiazide 25 MG Oral Tablet,0.00,0.0,12,0.00,59621000.0,Hypertension

==================================================
Number of rows in observations_df: 11161255
Top 5 rows of observations_df:
==================================================

,DATE,PATIENT,ENCOUNTER,CATEGORY,CODE,DESCRIPTION,VALUE,UNITS,TYPE
0,2012-08-18T22:07:23Z,5605b66b-e92d-c16c-1b83-b8bf7040d51f,e5e22010-0649-229f-013a-44b804bffb11,vital-signs,8302-2,Body Height,174.0,cm,numeric
1,2012-08-18T22:07:23Z,5605b66b-e92d-c16c-1b83-b8bf7040d51f,e5e22010-0649-229f-013a-44b804bffb11,vital-signs,72514-3,Pain severity - 0-10 verbal numeric rating [Sc...,2.0,{score},numeric
2,2012-08-18T22:07:23Z,5605b66b-e92d-c16c-1b83-b8bf7040d51f,e5e22010-0649-229f-013a-44b804bffb11,vital-signs,29463-7,Body Weight,98.6,kg,numeric
3,2012-08-18T22:07:23Z,5605b66b-e92d-c16c-1b83-b8bf7040d51f,e5e22010-0649-229f-013a-44b804bffb11,vital-signs,39156-5,Body Mass Index,32.6,kg/m2,numeric
4,2012-08-18T22:07:23Z,5605b66b-e92d-c16c-1b83-b8bf7040d51f,e5e22010-0649-229f-013a-44b804bffb11,vital-signs,8462-4,Diastolic Blood Pressure,100.0,mm[Hg],numeric

==================================================
Number of rows in organizations_df: 6765
Top 5 rows of organizations_df:
==================================================

,Id,NAME,ADDRESS,CITY,STATE,ZIP,LAT,LON,PHONE,REVENUE,UTILIZATION
0,ef58ea08-d883-3957-8300-150554edc8fb,HEALTHALLIANCE HOSPITALS INC,60 HOSPITAL ROAD,LEOMINSTER,MA,01453,42.520838,-71.770876,9784662000,0.0,31512
1,69176529-fd1f-3b3f-abce-a0a3626769eb,MOUNT AUBURN HOSPITAL,330 MOUNT AUBURN STREET,CAMBRIDGE,MA,02138,42.375967,-71.118275,6174923500,0.0,52884
2,5e765f2b-e908-3888-9fc7-df2cb87beb58,STURDY MEMORIAL HOSPITAL,211 PARK STREET,ATTLEBORO,MA,02703,41.931653,-71.294503,5082225200,0.0,35281
3,f1fbcbfb-fcfa-3bd2-b7f4-df20f1b3c3a4,LAWRENCE GENERAL HOSPITAL,ONE GENERAL STREET,LAWRENCE,MA,01842,42.700273,-71.161357,9786834000,0.0,39968
4,e002090d-4e92-300e-b41e-7d1f21dee4c6,CAMBRIDGE HEALTH ALLIANCE,1493 CAMBRIDGE STREET,CAMBRIDGE,MA,02138,42.375967,-71.118275,6176652300,0.0,51313

==================================================
Number of rows in patients_df: 15354
Top 5 rows of patients_df:
==================================================

,Id,BIRTHDATE,DEATHDATE,SSN,DRIVERS,PASSPORT,PREFIX,FIRST,LAST,SUFFIX,...,BIRTHPLACE,ADDRESS,CITY,STATE,COUNTY,ZIP,LAT,LON,HEALTHCARE_EXPENSES,HEALTHCARE_COVERAGE
0,5605b66b-e92d-c16c-1b83-b8bf7040d51f,1977-03-19,NaN,999-94-9633,S99930485,X51431379X,Mrs.,Nikita578,Erdman779,NaN,...,Wakefield Massachusetts US,510 Little Station Unit 69,Quincy,Massachusetts,Norfolk County,2186.0,42.290937,-70.975503,1.382106e+06,390849.2625
1,c06a2ab3-c3b1-a3d0-7c12-262a12c6885e,1936-07-03,NaN,999-76-5032,S99927160,X37795263X,Mr.,Miguel Ángel46,Atencio773,NaN,...,San Jose San Jose CR,1022 Hermann Quay Suite 79,Springfield,Massachusetts,Hampden County,1118.0,42.119725,-72.529805,2.118565e+06,108146.8010
2,6e5ae27c-8038-7988-e2c0-25a103f01bfa,1940-02-19,NaN,999-83-7940,S99932661,X36822066X,Mr.,Zane918,Hodkiewicz467,NaN,...,Brookline Massachusetts US,747 Conn Throughway,Boston,Massachusetts,Suffolk County,2135.0,42.308831,-71.063162,2.007909e+06,333884.4150
3,94d39619-8e17-d248-41b3-9ec1f2d031b2,1954-11-08,2010-01-10,999-84-3708,S99923522,X49705907X,Mr.,Emmett200,Collins926,NaN,...,Baldwinville Massachusetts US,675 Ortiz Mission Unit 59,Hingham,Massachusetts,Plymouth County,2043.0,42.257452,-70.848673,2.637311e+06,149574.3525
4,23832f5d-e045-2541-1626-a65dce9bbcf7,1972-04-13,NaN,999-89-5858,S99939931,X88479701X,Mrs.,Magan944,Green467,NaN,...,Worcester Massachusetts US,427 Jakubowski Viaduct Unit 76,Edgartown,Massachusetts,Dukes County,NaN,41.364910,-70.519177,1.859584e+06,69524.1780

==================================================
Number of rows in payers_df: 10
Top 5 rows of payers_df:
==================================================

,Id,NAME,ADDRESS,CITY,STATE_HEADQUARTERED,ZIP,PHONE,AMOUNT_COVERED,AMOUNT_UNCOVERED,REVENUE,...,UNCOVERED_ENCOUNTERS,COVERED_MEDICATIONS,UNCOVERED_MEDICATIONS,COVERED_PROCEDURES,UNCOVERED_PROCEDURES,COVERED_IMMUNIZATIONS,UNCOVERED_IMMUNIZATIONS,UNIQUE_CUSTOMERS,QOLS_AVG,MEMBER_MONTHS
0,b3221cfc-24fb-339e-823d-bc4136cbc4ed,Dual Eligible,7500 Security Blvd,Baltimore,MD,21244.0,1-877-267-2323,1.076597e+08,1.462200e+07,5.362150e+07,...,0,55364,0,75940,0,10840,0,787,0.611778,117948
1,7caa7254-5050-3b5e-9eae-bd5ea30e809c,Medicare,7500 Security Blvd,Baltimore,MD,21244.0,1-800-633-4227,1.552526e+09,1.498270e+08,3.318692e+08,...,0,1101186,0,1071965,0,134671,0,7109,0.768363,1352832
2,7c4411ce-02f1-39b5-b9ec-dfbea9ad3c1a,Medicaid,7500 Security Blvd,Baltimore,MD,21244.0,1-877-267-2323,2.191828e+09,1.464090e+08,2.711798e+08,...,0,190876,0,845407,0,74343,0,6750,0.822387,1114332
3,d47b3510-2895-3b70-9897-342d681c769d,Humana,500 West Main St,Louisville,KY,40018.0,1-844-330-7799,4.951006e+07,7.966630e+08,2.750580e+09,...,38328,0,269182,0,482684,0,101312,13238,0.773158,1624380
4,6e2f1a2d-27bd-3701-8d08-dae202c58632,Blue Cross Blue Shield,Michigan Plaza,Chicago,IL,60007.0,1-800-262-2583,6.251313e+08,3.050992e+08,2.816275e+09,...,0,264822,0,492749,0,97929,0,13154,0.796437,1555476

==================================================
Number of rows in procedures_df: 2425255
Top 5 rows of procedures_df:
==================================================

,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION,BASE_COST,REASONCODE,REASONDESCRIPTION
0,2012-11-21T08:36:35Z,2012-11-21T09:09:12Z,c06a2ab3-c3b1-a3d0-7c12-262a12c6885e,cb739cd1-4540-e729-2ef1-fc09075f521c,73761001,Colonoscopy,6133.93,NaN,NaN
1,2012-08-18T22:07:23Z,2012-08-18T22:45:32Z,5605b66b-e92d-c16c-1b83-b8bf7040d51f,e5e22010-0649-229f-013a-44b804bffb11,710824005,Assessment of health and social care needs (pr...,431.40,NaN,NaN
2,2012-08-18T22:07:23Z,2012-08-18T22:22:23Z,5605b66b-e92d-c16c-1b83-b8bf7040d51f,e5e22010-0649-229f-013a-44b804bffb11,430193006,Medication Reconciliation (procedure),436.43,NaN,NaN
3,2012-08-18T22:45:32Z,2012-08-18T23:26:17Z,5605b66b-e92d-c16c-1b83-b8bf7040d51f,e5e22010-0649-229f-013a-44b804bffb11,866148006,Screening for domestic abuse (procedure),431.40,NaN,NaN
4,2012-08-18T23:26:17Z,2012-08-18T23:38:08Z,5605b66b-e92d-c16c-1b83-b8bf7040d51f,e5e22010-0649-229f-013a-44b804bffb11,171207006,Depression screening (procedure),431.40,NaN,NaN

==================================================
Number of rows in providers_df: 37881
Top 5 rows of providers_df:
==================================================

,Id,ORGANIZATION,NAME,GENDER,SPECIALITY,ADDRESS,CITY,STATE,ZIP,LAT,LON,UTILIZATION
0,caeb26d2-e4e8-3910-8337-b23e745b29a1,ef58ea08-d883-3957-8300-150554edc8fb,Ana María762 Soto31,F,GENERAL PRACTICE,60 HOSPITAL ROAD,LEOMINSTER,MA,01453,42.520838,-71.770876,31512
1,fa5d1d14-f5e1-398d-a302-49adfc1fb422,69176529-fd1f-3b3f-abce-a0a3626769eb,Lesley194 Fisher429,M,GENERAL PRACTICE,330 MOUNT AUBURN STREET,CAMBRIDGE,MA,02138,42.375967,-71.118275,52884
2,b2918679-8cec-36ef-9da1-f67be569b4c7,5e765f2b-e908-3888-9fc7-df2cb87beb58,Chauncey770 Steuber698,M,GENERAL PRACTICE,211 PARK STREET,ATTLEBORO,MA,02703,41.931653,-71.294503,35281
3,d548754c-c2a3-3a74-9132-4f0575373e67,f1fbcbfb-fcfa-3bd2-b7f4-df20f1b3c3a4,Whitney250 Wyman904,M,GENERAL PRACTICE,ONE GENERAL STREET,LAWRENCE,MA,01842,42.700273,-71.161357,39968
4,210c7384-7168-3ff8-a9c3-6a0e22007222,e002090d-4e92-300e-b41e-7d1f21dee4c6,Wilfredo622 Medhurst46,M,GENERAL PRACTICE,1493 CAMBRIDGE STREET,CAMBRIDGE,MA,02138,42.375967,-71.118275,51313

In [17]:
# Get unique patient IDs from patients_df
unique_patients = patients_df['Id'].unique()
print(f"Number of unique patients in patients_df: {len(unique_patients)}")

# Get unique patient IDs from observations_df
unique_observations_patients = observations_df['PATIENT'].unique()
print(f"Number of unique patients in observations_df: {len(unique_observations_patients)}")

# Create a join between patients and observations
joined_df = patients_df.merge(observations_df, 
                            left_on='Id', 
                            right_on='PATIENT', 
                            how='inner')

# Count the number of rows in the joined dataframe
print(f"\nNumber of rows in joined dataframe: {len(joined_df)}")

# Additional information about the join
print(f"Number of unique patients in joined data: {joined_df['Id'].nunique()}")

Number of unique patients in patients_df: 15354
Number of unique patients in observations_df: 15354

Number of rows in joined dataframe: 11161255
Number of unique patients in joined data: 15354

In [24]:
# print every unique condition in conditions_df
unique_conditions = pd.DataFrame(conditions_df['DESCRIPTION'].unique(), columns=['Conditions'])
display(unique_conditions)

# output to a unique_conditions.csv
unique_conditions.to_csv('unique_conditions.csv', index=False)

                                           Conditions
0             Body mass index 30+ - obesity (finding)
1    Only received primary school education (finding)
2                      Full-time employment (finding)
3                          Social isolation (finding)
4          Victim of intimate partner abuse (finding)
..                                                ...
236           Sepsis caused by Pseudomonas (disorder)
237            Chiari malformation type II (disorder)
238                        Allergy to latex (finding)
239   History of disarticulation at wrist (situation)
240                            Meningocele (disorder)

[241 rows x 1 columns]